@font-face {
  font-family: myFirstFont;
  src: url('VNI-Thuphap2.ttf');
}
.welcome{
	font-family: "myFirstFont";
	font-size: 50px;
	height: 200px;
	border: 1px solid pink;
	text-align: center; 
	line-height: 200px; 
}
