html{
	background-image: -moz-linear-gradient(top, white 0%, #facd8a 100%);
	background-image: -webkit-linear-gradient(top, white 0%, #facd8a 100%);
	background-image: -o-linear-gradient(top, white 0%, #facd8a 100%);
	background-image: linear-gradient(top, white 0%, #facd8a 100%);
}
body{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 87.5%;
	width: 600px;
	background-color: white;
	margin: 15px auto;
	padding: 15px 25px;
	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 5px 5px 0 0;
}
#Header{
	width: 600px;
	height: 103px;
	border-bottom: 3px solid #DF7401;
}
#logo{
	float: left;
}
#title{
	text-align: center;
}
#title1{
	color: #DF7401;
	text-shadow: -2px -2px 4px black;
}
#title2{
	color: #04B404;
	margin-top: -15px;
	font-size: 18px;
}
#Body{
	height: 415px;
	border-bottom: 3px solid #DF7401;
}
#Footer{
	font-size: 12px;
	margin-left: 310px;
}